<header>
    <mat-toolbar class="mat" color="accent">
      <mat-toolbar-row>
         
        <a mat-stroked-button routerLink = "" routerLinkActive="active-link"
          >Home Page</a
        >
  
        <a [routerLink]='["/product"]'
          routerLinkActive="active-link"
          >Item List</a
        >

        <a [routerLink]="['/product/productlist']"
          routerLinkActive="active-link"
          >Product List</a
        >

      </mat-toolbar-row>
    </mat-toolbar>
  </header>
 
<h1>Hiii..Welcome To Pagerouting Project</h1>

<router-outlet></router-outlet>